body {
    /* Define a cor de fundo */
    background-color: #ffcbdb;
    /* Define a fonte */
    font-family: Cambria;
    /* Torna o corpo do site "flexível", ou seja, seus elementos poderão variar conforme as circunstâncias */
    display: flex;
    /* Alinha os itens verticalmente ao centro */
    align-items: center;
    /* Alinha os itens horizontalmente ao centro */
    justify-content: center;
}

#container {
    /* Define a cor de fundo */
    background-color: white;
    /* Arredondamento dos Cantos */
    border-radius: 10px;
    /* Alinha o texto no centro */
    text-align: center;
    /* Define a Margem do Topo do container */
    margin-top: 100px;
}

form {
    /* Espaçamento interno superior, lateral direito, inferior e lateral esquerdo respectivamente */
    padding: 0px 50px 50px 50px;
    /* Torna o elemento flexível */
    display: flex;
    /* realiza a "quebra de linha" dos elementos, caso eles ultrapassem o limite do elemento */
    flex-wrap: wrap;
    /* Alinha os itens horizontalmente ao centro */
    justify-content: center;
    /* Define a cor do elemento (no caso, da fonte) */
    color: #ffcbdb;
}

input {
    /* O comprimento do elemento será de 80% em relação ao elemento pai (form) */
    width: 80%;
    /* Define a Margem do Topo do container */
    margin-top: 15px;
    /* Define a cor do elemento (no caso, da fonte) */
    color: #ffcbdb;
    /* Define a espessura da borda, o tipo e a cor respectivamente */
    border: 1px solid #ffcbdb;
    /* Arredondamento dos Cantos */
    border-radius: 5px;
    /* Define o espaçamento interno para todas as direções do elemento */
    padding: 8px;
}

#botao {
    /* Define a cor de fundo */
    background-color: #ec5e97;
    /* Tira a borda pré-definida do elemento */
    border: none;
    /* O comprimento do elemento será de 20% em relação ao elemento pai (form) */
    width: 20%;
    /* Arredondamento dos Cantos */
    border-radius: 5px; 
    /* O cursor do mouse mudará para "pointer" quando passar sobre o elemento */
    cursor: pointer;
}

h1 {
    /* Define a Margem do Topo do container */
    margin-top: 40px;
    /* Define a cor do elemento (no caso, da fonte) */
    color: #ec5e97;
}

h2 {
    /* Define a cor do elemento (no caso, da fonte) */
    color: #ffcbdb;
}